/*
main.css
----------------
Par MaX
*/

/*
-----------------------------------------------------------------------------------------
a, b   = 2 balises
.class   = peut être utilisé plusieurs fois
#id   = utilisé juste une fois
*   = universel, TOUTE
a b   = b dans a
a + b   = le premier b dans a
a[attribut]   = a qui possède un attribut
a[attribut="valeur"]   = a qui possède l'attribut d'une valeur précise
a[attribut*="valeur"]   = a qui possède un attribut qui contient la valeur
-----------------------------------------------------------------------------------------
*/

/*
-----------------------------------------------------------------------------------------
CRÉATION DE POLICE PERSO
-----------------------------------------------------------------------------------------
*/

@font-face {
    font-family: 'MaSuperPolice';
    src: url('MaSuperPolice.eot') format('eot'),
         url('MaSuperPolice.woff') format('woff'),
         url('MaSuperPolice.ttf') format('truetype'),
         url('MaSuperPolice.svg') format('svg');
}

/*
-----------------------------------------------------------------------------------------
FORMATAGE DE TEXTE
-----------------------------------------------------------------------------------------
*/

taille de texte
{
	font-size: 16px;
	font-size: medium;
	font-size: 1em;
}

police
{
	font-family: police1, "police en deux mot", police3;
}

style
{
	font-style: normal;
	font-style: italic;
	font-weight: normal;
	font-weight: bold;
	text-decoration: none;
	text-decoration: underline;
	text-decoration: line-through;
	text-decoration: overline;
	text-decoration: blink;
}

alignement
{
	text-align: center;
	text-align: left;
	text-align: right;
	text-align: justify;
}

image flottante
{
	float: right;
	float: left;
	clear: both;
}

/*
-----------------------------------------------------------------------------------------
COULEUR ET FOND
-----------------------------------------------------------------------------------------
*/

couleur de texte
{
	color: #FFFFFF;
}

couleur de fond
{
	background-color: #000000;
}

image de fond
{
	background-image: url("image.jpg");
}

option pour image de fond
{
	background-attachment: fixed;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	background-repeat: repeat; /*en mosaique*/
	background-position: 30px 50px;
	background-position: top bottom left center right;
}

transparence
{
	opacity: 0.5; /* 1 = 100%     0.1 = 10% */
}

/*
-----------------------------------------------------------------------------------------
BORDURE ET OMBRE
-----------------------------------------------------------------------------------------
*/

/* largeur en px, couleur, style */

/*
-none = pas de bordure
-solid = simple
-dotted = pointillé
-dashed = tiret
-double = double
-groove = en relief
-ridged = autre effet relief
-inset = effet 3D enfoncé
-outset = effet 3D surélevé
*/

/*
-border-top
-border-bottom
-border-left
-border-right
*/

exemple
{
	border: 2px blue dashed;
	border-top: 3px #000000 solid;
}

arrondie simple
{
	border-radius: 10px;
}

arrondie 4 differents, HG-HD-BD-BG
{
	border-radius: 2px 10px 2px 10px;
}

arrondie 2 radius dans le même
{
	border-radius: 10px / 20px;
}

/*
OMBRE: ordre des valeur
-décalage horizontal
-décalage vertical
-adoucissement
-couleur
***ajouter inset pour mettre l'ombre à l'intérieur***
*/

ombre de boite
{
	box-shadow: 6px 6px 2px black;
}

ombre de texte
{
	text-shadow: 6px 6px 2px black;
}

/*
-----------------------------------------------------------------------------------------
APPARENCE DYNAMIQUE
-----------------------------------------------------------------------------------------
*/

balise:hover
{
	survol de la souris
}

balise:active
{
	au moment du clic
}

balise:focus
{
	selectionné
}

balise:visited
{
	deja visité
}

/*
-----------------------------------------------------------------------------------------
MISE EN FORME DES BOITES
-----------------------------------------------------------------------------------------
*/

largeur
{
	width: 50%;
	width: 250px;
	min-width: 100px;
	max-width: 500px;
}

hauteur
{
	height: 50%;
	height: 250px;
	min-height: : 100px;
	max-height: : 500px;
}

marge intérieur
{
	padding: 100px;
	/*
	-top
	-bottom
	-left
	-right
	*/
}

marge extérieur
{
	margin: 100px;
	/*
	-top
	-bottom
	-left
	-right
	*/
	margin: auto;
}

dépassement
{
	overflow: visible; /*le texte va déborder*/
	overflow: hidden; /*le texte de trop sera caché*/
	overflow: scroll; /*ajoute une barre de défillement*/
	overflow: auto; /*ajoute une barre de défillement si neccessaire*/
}

mot trop long
{
	word-wrap: break-word;
}

/*
-----------------------------------------------------------------------------------------
FLEXBOX
-----------------------------------------------------------------------------------------
*/

déclarer le flex
{
	display: flex;
}

direction
{
	flex-direction: row;
	flex-direction: column;
	flex-direction: row-reverse;
	flex-direction: column-reverse;
}

retour à la ligne
{
	flex-wrap: nowrap;
	flex-wrap: wrap;
	flex-wrap: wrap-reverse;
}

alignement axe principal
{
	justify-content: flex-start;
	justify-content: flex-end;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around;
}

alignement axe secondaire
{
	align-items: stretch;
	align-items: flex-start;
	align-items: flex-end;
	align-items: center;
	align-items: baseline;
}

.aligné-element:nth-child(2)
{
	align-self: "align-items";
}

repartition sur plusieurs ligne
{
	align-content: flex-start;
	align-content: flex-end;
	align-content: center;
	align-content: space-between;
	align-content: space-around;
	align-content: stretch;
}

.ordre:nth-child(2)
{
	order: 3;
}

/*----*/

.grosseur-element:nth-child(1)
{
	flex: 2;
}

.grosseur-element:nth-child(2)
{
	flex: 1;
}

/*----*/

li
{
	list-style-type: none;
}

/*
-----------------------------------------------------------------------------------------
AUTRE MISE EN PAGE
-----------------------------------------------------------------------------------------
*/

changer de type
{
	display: block;
	display: inline;
	display: inline-block;
}

invisible
{
	display: none;
}

alignement vertical
{
	vertical-align: baseline;
	vertical-align: top;
	vertical-align: middle;
	vertical-align: bottom;
}

position absolu
{
	position: absolute;
	top: 50px;
	right: 50px;
	left: 50px;
	bottom: 50px;
	z-index: 1; /*ordre d'affichage, 1 au fond*/
}

position fixe
{
	position: fixed;
	top: 50px;
	right: 50px;
	left: 50px;
	bottom: 50px;
}

position relatif
{
	position: relative;
	top: 50px;
	right: 50px;
	left: 50px;
	bottom: 50px;
}

/*
-----------------------------------------------------------------------------------------
Tableau
-----------------------------------------------------------------------------------------
*/

table
{
	border-collapse: collapse; /*bordure du tableau sont collé*/
}

td
{
	border: 1px solid black;
}

caption /*position du titre*/
{
	caption-side: top;
	caption-side: bottom;
}

/*
-----------------------------------------------------------------------------------------
Formulaire
-----------------------------------------------------------------------------------------
*/

:required
{
	pour les champs formulaire obligatoire;
}

/*
-----------------------------------------------------------------------------------------
Media Responsive
-----------------------------------------------------------------------------------------
*/

@media regle
{
	p
	{
		blablabla
	}
}